# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.env*
.venv
env/
venv/
ENV/
debug.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store 
uploads/
.cursor/
resources/
certs/
.cloudbase/

**/.claude/settings.local.json
